<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hg.community">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".PublishActivity"
            android:screenOrientation="portrait" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
